certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
idna==3.10
numpy==2.2.5
pandas==2.2.3
pillow==11.2.1
pyphen==0.17.2
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.0
requests==2.32.3
shiboken6==6.9.0
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
